<ion-view view-title="Aziende">
    <ion-content>
        <h1>Aziende</h1>
        <ion-list>
            <ion-item class="item-thumbnail-left" collection-repeat="company in companies"
                      ui-sref="company({restUrl: company._links.self.href})">
                <img src="img/ionic.png">

                <h2>{{company.name}}</h2>

                <p>{{company.city}}</p>

                <p>{{company.address}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>