<ion-view>
    <ion-nav-title>{{company.name}}</ion-nav-title>
    <ion-content>
        <div class="text-center">
            <img src="../img/ionic.png">
        </div>
        <ion-list>
            <ion-item>Indirizzo: {{company.address}} {{company.zipcode}} {{company.city}}</ion-item>

            <ion-item ng-if="company.phone">Telefono: {{company.phone}}</ion-item>

            <ion-item ng-if="company.email">E-mail: {{company.email}}</ion-item>
        </ion-list>
        <div class="padding-horizontal">
            <h4>Chi siamo</h4>

            <p>{{company.description}}</p>
        </div>
        <div class="tabs tabs-icon-top">
            <a class="tab-item" ui-sref="menu({restUrl: company._links.menu.href})">
                <i class="icon ion-ios-book"></i>
                Menu
            </a>
            <a class="tab-item" ui-sref="checkPoint({restUrl: company._links.checkPoint.href})">
                <i class="icon ion-location"></i>
                Punto di ristoro
            </a>
        </div>
    </ion-content>
</ion-view>