<ion-view title="Aziende">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="/img/avatar-img.png">
                <h2>company name</h2>
                <p>company desc</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="/img/avatar-img.png">
                <h2>company name</h2>
                <p>company desc</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="/img/avatar-img.png">
                <h2>company name</h2>
                <p>company desc</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>