<ion-view>
    <ion-nav-title>{{company.name}}</ion-nav-title>
    <ion-content>
        <img src="../img/ionic.png">
        <ion-list>
            <ion-item>Indirizzo: {{company.address}} {{company.zipcode}} {{company.city}}</ion-item>

            <ion-item ng-if="company.phone">Telefono: {{company.phone}}</ion-item>

            <ion-item ng-if="company.email">E-mail: {{company.email}}</ion-item>
        </ion-list>
        <button ui-sref="menu({restUrl: company._links.menu.href})"
           class="button button-full button-stable ion-ios-book"> Menu</button>
        <p>{{company.description}}</p>
    </ion-content>
</ion-view>